<div class="col-xs-offset-0 col-md-offset-2 col-lg-offset-3">
  <div class="col-xs-12 col-md-8 col-lg-6 add-io-green-form-border" id="waste-form-details">
    <div class="row">
      <h2>New <%= t(:waste)%></h2>
    </div>
    <br />
    <%= simple_form_for @waste, url: params[:user_token] ? wastes_path(user_email: params[:user_email], user_token: params[:user_token]) : wastes_path, method: :post, html: { multipart: true } do |f|%>
      <div class="row">
        <%= f.association :user, collection: ink_usage_form_users_collection, include_blank: "-- Select Name --" %>
      </div>
      <div class="row">
        <div class="form-group">
          <%= f.association :machine, collection: Machine.order(:name).map { |machine| [machine.name, machine.id] }%>
        </div>
      </div>
      <div class="row">
        <%= f.input :level, collection: Waste::LEVELS  %>
      </div>
      <br />
      <div class="row actions">
        <%= f.submit "Submit", class: "btn btn-md btn-success" %>
        <% if current_user.io_admin %>
          <%= link_to "Back", root_path, class: "btn btn-md btn-default" %>
        <% end %>
      <div>
    <% end %>
  </div>
</div>