<div class="pull-right">
  <%= link_to 'Download CSV', waste_dashboards_download_csv_path(dashboards: dashboard_params, format: :csv), class: "btn btn-info" %>
</div>
<br class="clear-both" />
<div class="table-responsive">
  <table class="table table-bordered table-hover striped-rows">
    <thead>
      <tr>
        <th>Level</th>
        <th>Quantity</th>
        <th>Date Range Percentage</th>
        <th>Total Percentage</th>
      </tr>
    </thead>
    <tbody>
      <% level_quantity.each do |level, quantity|%>
        <tr>
          <th class="text-center"><%= link_to level, wastes_path(q: {machine_name_cont: Machine.find(machine.id).name, level_eq: level}, start_date: @start_date, end_date: @end_date), target: "_blank" %></th>
          <th class="text-center"><%= quantity %></th>
          <th class="text-center"><%= number_to_percentage(quantity.to_f*100/date_range_quantity.to_f, precision: 2) %></th>
          <th class="text-center"><%= number_to_percentage(quantity.to_f*100/total_quantity.to_f, precision: 2) %></th>
        </tr>
      <%end%>
    </tbody>
    <thead class="total-row">
      <tr>
        <th><%= link_to 'Total', wastes_path(q: {machine_name_cont: Machine.find(machine.id).name}, start_date: @start_date, end_date: @end_date), target: "_blank" %></th>
        <th><%= date_range_quantity %></th>
        <th><%= number_to_percentage(100, precision: 2) %></th>
        <th><%= number_to_percentage(date_range_quantity.to_f * 100/total_quantity.to_f, precision: 2) %></th>
      </tr>
    </thead>
  </table>
</div>