<br />
<br />
<div class="col-xs-12 col-xs-offset-0 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 add-io-green-form-border">
  <h3 class="text-center"><%= t(:generate_new_dashboard)%></h3>
  <br />
  <%= simple_form_for :dashboards, url: dashboards_path, method: :get do |f| %>
    <div class="row">
      <%= f.input :chart_type, collection: @chart_types, include_blank: '-- Select --' %>
    </div>
    <div class="row">
      <%= f.input :machine, collection: @machines.map { |machine| [machine.name, machine.id] }, include_blank: "-- Select --" %>
    </div>
    <div class="form-group row">
      <%= f.label :start_date %>
      <%= f.input :start_date, as: :date, label: false %>
    </div>

    <div class="form-group row">
      <%= f.label :end_date %>
      <%= f.input :end_date, as: :date, label: false %>
    </div>
    <div class="row actions">
      <%= f.submit "Submit", class: "btn btn-md btn-success" %>
      <%= link_to "Back", root_path, class: "btn btn-md btn-default" %>
    </div>
  <% end %>
</div>